.about-container {
    width: 60%;
    margin: 0 auto; 
    margin-top: 60px;
    font-family: 'tahoma', sans-serif;
 
  }
  
  .about-content {
    margin-top: 40px;
    text-align: center; 
    font-size: 20px;
  }

  h1 {
    color: #D4A276;
  }
