.carousel {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 100%; 
    margin: 0 auto; 
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.carousel-item img {
    width: 80%; 
    height: 500px; 
    border-radius: 12px;
  }

h2 {
    color: #583101;
    font-family: 'Halton', sans-serif;
}